@import '@/styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 90vh;


  .progress{
    color: $color-cream-text;
    width: 100px;
    height: 100px;
  }
}