$colors-base-black: #000000;
$colors-base-red: #d30000;
$colors-base-white: green;
$colors-light-white: #FBFBFB;


$color-base-grey: #0c1821;
$color-base-blue: #1b2a41;
$color-cream-text: #ccc9dc;


//:export {
//  color-cream-text: $color-cream-text;
//  color-base-blue: $color-base-blue;
//  color-base-grey: $color-base-grey;
//  colors-light-white: $colors-light-white;
//  colors-base-white: $colors-base-white;
//  colors-base-red: $colors-base-red;
//  colors-base-black: $colors-base-black
//}