@import "../../styles/variables";

.topBar {
  background-color: $colors-base-red-darker;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 25px;
  font-weight: 800;

  .movieName {
    text-decoration: underline;
  }
  .topBarOperations {
    display: flex;
    > div {
      cursor: pointer;
      transition: all .2s ease-in-out;

      &:hover {
        text-decoration: underline;
      }
    }

    i {
      margin-left: 15px;
      cursor: pointer;
    }
  }
}