@import "../../styles/variables";

.navbar {
  position: fixed;
  top: 0;
  padding: 25px 0;
  width: 100%;
  z-index: 100;
  background-color: $colors-base-black;
  color: white;
  font-size: 1rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    max-width: 97vw;
    padding-right: 10px;
  }

  .leftSide {
    display: flex;
    align-items: center;
    -webkit-user-select: none;

    a {
      margin-right: 30px;
    }

    .activeLink {
      color: $colors-base-red !important;
    }
  }

  .dropDown {
    margin-left: -180px;
  }
}

@media screen and (max-width: 1200px) {
  .dropDown {
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 800px) {
  .container {
    max-width: 95vw !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 90vw !important;
  }

  .leftSide {

    a {
      margin-right: 10px !important;
    }

    .activeLink {

    }
  }
}
