@import "../../styles/variables";

.navbar {
    background-color: $colors-base-black;
    color: white;
    font-size: 1rem;
    padding: 25px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
    }

    .leftSide {
        display: flex;
        align-items: center;

        a {
            margin-right: 30px;
        }

        .activeLink {
            color: $colors-base-red !important;
        }
    }

    .dropDown {
        margin-left: -240px;
    }
}

@media screen and (max-width: 1200px) {
    .dropDown {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .leftSide {

        a {
            margin-right: 10px !important;
        }

        .activeLink {

        }
    }
}
