@import "../../styles/variables";

.moviePlayerWrapper {
  > i {
    margin-right: 10px;
  }
  color: $colors-base-white;
  background-color: #101010;
  padding: 10px 20px;
  border: 2px solid $colors-base-red;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: $colors-base-white;
    color: #101010;
  }

  transition: all .2s ease-in-out;
}

@media (max-width: 470px) {
  .moviePlayerWrapper {
    > i {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .moviePlayerWrapper {
    padding: 10px 5px;
  }
}