@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;

  .imageContainer {
    width: 250px;
    height: 300px;

    .img {
      width: 100%;
      height: 100%;
    }
  }

  .movieName {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;

    .episodeName{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .episodeParts{
        margin: 5px;
        font-size: 24dpx;
        color: $color-cream-text;
      }
    }

  }
}