$colors-base-black: #000000;
$colors-base-red: #d30000;
$colors-base-red-darker: #860000;
$colors-base-red-darkest: #480000;
$colors-base-white: #9d9d9d;
$colors-light-white: #FBFBFB;


$color-base-grey: #0c1821;
$color-base-blue: #1b2a41;
$color-cream-text: #ccc9dc;